*  {
    margin: 0;
    padding: 0;
    
}
body {
    background-color: olivedrab;
}

#grey {
    background-color: lightslategrey;
    text-align: center;
    width: 65%;
}

.red {
    background-color: orangered;
    text-align: center;
    
}

h1 {
    background-color: bisque;
    color: indigo;
    width: 75%;
}
h2 {
    color: ghostwhite;
}
.container {
    width: 700px;
    margin: auto;
}
.imageplot {
    text-align: center;
}
.mainparagraph{
    background-color: lightslategrey;
    text-align: justify;
    color: navy;
    display: inline-block;
    /* border-right: black;
    padding-right: 1000px;
    margin-right: 1000px; */
}
table.center {
    margin-left: auto;
    margin-right: auto;
}
